doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Carmelo Pullara - Front-End Developer
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='Front-End Developer based in Italy. JavaScript addicted, with a passion for web, tech, startups and science.')
    script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46276885-11']);
      _gaq.push(['_trackPageview']);
    style
      include build/css/style.css
  body
    #root
    script(src='build/js/bundle.js', async='')
    script(type='text/javascript').
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
